section.timeline.timeline-intro
  .line.row.timeline-margin
    .content-wrap
      .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
      .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height
      .col-md-9.bg1.full-height
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.timeline-title.full-height
    .col-md-8.content-wrap.bg1
      h2.section-title Hello World
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    //- TODO: what I've learned in the last year section 
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-point
    .col-md-8.content-wrap.bg1
      .line-content
        h3.section-item-title-1 Current Role
        p Product Engineering Lead at 
          a(href="https://www.automattic.com/") Automattic.
        p  I'm a team lead working on the theme experience at WordPress.com. I wrangle design, dev, analytics, stakeholders, and user outreach.   
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
  //- .line.row
  //-   .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
  //-   .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-point
  //-   .col-md-8.content-wrap.bg1
  //-     .line-content
  //-       h3.section-item-title-1 My Ideal Job
  //-       p Lucky for me, my current job is my ideal job!  I ship stuff to millions of WordPress users every day, working at the intersection of tech and creative design with heaps of smart and passionate humans.
  //-       p My happy place is learning, helping, and being in that sweet spot of energetic, self-driven stress. 
  //-        i.fa.fa-smile-o.pl6  
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-point
    .col-md-8.content-wrap.bg1
      .line-content
        h3.section-item-title-1 Email
        p autumn.fjeld@gmail.com
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-point
    .col-md-8.content-wrap.bg1
      .line-content
        h3.section-item-title-1 Location
        p Feet in Sydney, Australia | Heart in the USA
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-point
    .col-md-8.content-wrap.bg1
      .line-content
        h3.section-item-title-1 Legal Mobility
        p American citizen | Australian citizen 
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs    
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-point
    .col-md-8.content-wrap.bg1
      .line-content
        h3.section-item-title-1 More Sources
        a.btn.btn-social(href='https://www.linkedin.com/in/autumnfjeld', target='_blank')
          i.fa.fa-linkedin
        a.btn.btn-social(href='https://www.instagram.com/aut.dot/', target='_blank')
          i.fa.fa-instagram
        a.btn.btn-social(href='https://twitter.com/autaut', target='_blank')
          i.fa.fa-twitter
        a.btn.btn-social(href='https://github.com/autumnfjeld', target='_blank')
          i.fa.fa-github
        a.btn.btn-social(href='https://www.goodreads.com/user/show/24390430-autumn', target='_blank')
          i.fa.fa-book
        a.btn.btn-social(href='mailto:autumn.fjeld@gmail.com')
          i.fa.fa-envelope-o
        //- a.btn.btn-social(href='#contact')
        //- a.btn.btn-social(href='media/Autumn_Fjeld_Resume_20171123.pdf', target='_blank"=')
        //-   i.fa.fa-download

    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
