section.timeline.timeline-intro
  .line.row.timeline-margin
    .content-wrap
      .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
      .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height
      .col-md-9.bg1.full-height
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.timeline-title.full-height
    .col-md-8.content-wrap.bg1
      h2.section-title Hello World
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    //- TODO: what I've learned in the last year section 
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-point
    .col-md-8.content-wrap.bg1
      .line-content
        h3.section-item-title-1 About Me
        p have over 10 years of software development and product management experience, from launching greenfield full-stack apps to shipping products used by millions of people. At WordPress.com, I led engineering teams and ran large, complex projects that required managing design, development, data analytics, stakeholder alignment, and customer/community outreach. 

        p My Ph.D. in the sciences instilled a rigorous habit of questing assumptions and probing the why. I am a proactive, structured problem‑solver and can turn ambiguous seed visions into well‑defined, executable roadmaps. I have a record of project success driven by the effective management of cross‑functional product teams and data‑driven product iteration. I am particularly proud that my teammates appreciate my ability to make connections, be genuine and open, and foster an environment that creates high‑performing, cohesive teams, and great software.


    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
  //- .line.row
  //-   .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
  //-   .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-point
  //-   .col-md-8.content-wrap.bg1
  //-     .line-content
  //-       h3.section-item-title-1 My Ideal Job
  //-       p Lucky for me, my current job is my ideal job!  I ship stuff to millions of WordPress users every day, working at the intersection of tech and creative design with heaps of smart and passionate humans.
  //-       p My happy place is learning, helping, and being in that sweet spot of energetic, self-driven stress. 
  //-        i.fa.fa-smile-o.pl6  
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-point
    .col-md-8.content-wrap.bg1
      .line-content
        h3.section-item-title-1 Email
        p autumn.fjeld@gmail.com
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-point
    .col-md-8.content-wrap.bg1
      .line-content
        h3.section-item-title-1 Location
        p Sydney | San Francisco | Arizona | Location flexible
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-point
    .col-md-8.content-wrap.bg1
      .line-content
        h3.section-item-title-1 Legal Mobility
        p American citizen | Australian citizen
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs    
  .line.row
    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-point
    .col-md-8.content-wrap.bg1
      .line-content
        h3.section-item-title-1 More Sources
        a.btn.btn-social(href='media/AutumnFjeld_Resume_20250521.pdf', target='_blank"=')
          i.fa.fa-download        
        a.btn.btn-social(href='https://www.linkedin.com/in/autumnfjeld', target='_blank')
          i.fa.fa-linkedin
        a.btn.btn-social(href='https://www.instagram.com/aut.dot/', target='_blank')
          i.fa.fa-instagram
        //- a.btn.btn-social(href='https://twitter.com/autaut', target='_blank')
        //-   i.fa.fa-twitter
        a.btn.btn-social(href='https://github.com/autumnfjeld', target='_blank')
          i.fa.fa-github
        a.btn.btn-social(href='https://www.goodreads.com/user/show/24390430-autumn', target='_blank')
          i.fa.fa-book
        a.btn.btn-social(href='mailto:autumn.fjeld@gmail.com')
          i.fa.fa-envelope-o

        //- a.btn.btn-social(href='#contact')

    .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
