section.timeline.the-end
    .line.row.timeline-margin.timeline-margin-big
    .line.row.timeline-margin
        .content-wrap
            .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
            .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height
            .col-md-9.bg1.full-height
    .line.row
        .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
        .col-md-2.timeline-progress.hidden-sm.hidden-xs.timeline-title.full-height
        .col-md-8.content-wrap.bg1
            h2.section-title Dogfooding
        .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .line.row
        .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
        .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height
        .col-md-8.content-wrap.bg1
            .line-content
                h3.section-item-title-1 My WordPress Blogs
                p Any product person knows one must dogfood! Embracing the customer experience via my own WordPress sites.
                    i.fa.fa-smile-o.pl6  
                p My blog of babble &nbsp;
                    a(href='https://makeitsparkly.com' target='_blank') makeitsparkly.com
                p My DOS resume &nbsp;
                    a(href='https://autumnfjeld.wpcomstaging.com' target='_blank') autumnfjeld.wordpress.com
        .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .line.row
        .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
        .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height
        .col-md-8.content-wrap.bg1
    .line.row.line-thank-you
        .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
        .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-point
        .col-md-8.content-wrap.bg1
            .line-content
                //- h3 Thank you!
        .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs