section.timeline.the-end
    .line.row.timeline-margin.timeline-margin-big
    .line.row.timeline-margin
        .content-wrap
            .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
            .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height
            .col-md-9.bg1.full-height
    .line.row
        .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
        .col-md-2.timeline-progress.hidden-sm.hidden-xs.timeline-title.full-height
        .col-md-8.content-wrap.bg1
            h2.section-title Dogfooding
        .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .line.row
        .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
        .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height
        .col-md-8.content-wrap.bg1
            .line-content
                h3.section-item-title-1 My WordPress Blogs
                p I may not be the best blogger (though I'd love to get in the habit of regular writing), but I am definitely a good dogfooder! Embracing the customer experience via my many WordPress sites.
                    i.fa.fa-smile-o.pl6  
                p My blog of babble &nbsp;
                    a(href="http://makeitsparkly.com") makeitsparkly.com
                p My DOS resume blog &nbsp;
                    a(href="http://autumnfjeld.wpcomstaging.com") autumnfjeld.wordpress.com
                p My Autumnmattic blog &nbsp;
                    a(href="https://autumnmattic.wordpress.com") autumnmattic.wordpress.com
        .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
    .line.row
        .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
        .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height
        .col-md-8.content-wrap.bg1
    .line.row.line-thank-you
        .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs
        .col-md-2.timeline-progress.hidden-sm.hidden-xs.full-height.timeline-point
        .col-md-8.content-wrap.bg1
            .line-content
                //- h3 Thank you!
        .col-md-1.bg1.timeline-space.full-height.hidden-sm.hidden-xs